.article-card {
  position: relative;

  aspect-ratio: 16/12;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  color: black;
  box-shadow: 0 4px 4px rgba(0,0,0,0.15);

  container-type: inline-size;
}

.article-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.article-card--compact {
  width: min(100%, 650px);
  margin: 0 auto;
}


.image-wrapper {
  padding: 12px 12px 4px;
}

.article-card--compact .image-wrapper {
  padding: 8px 8px 2px;
}

.image-box {
  width: 100%;
  aspect-ratio: 280 / 160;
  overflow: hidden;
  border-radius: 15px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.variant-0 {
  position: absolute;
  width: 35%;
  transform: translate(-25%, -30%);
}

.variant-1 {
  position: absolute;
  width: 27px;
  rotate: -26.67deg;
  left: 50%;
  transform: translate(-55%, -105%);
}

.variant-2 {
  position: absolute;
  width: 37%;
  height: 8%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.variant-3 {
  position: absolute;
  width: 93px;
  left: 50%;
  transform: translate(-60%, -70%);
}

.variant-4 {
  position: absolute;
  width: 39%;
  height: 8%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.variant-5 {
  position: absolute;
  width: 93px;
  left: 50%;
  transform: translate(-60%, -70%);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 0;
  padding: 8px 50px;
}

.article-card--compact .content {
  padding: 6px 18px 10px;
}

@media (max-width: 600px) {
  .content {
    padding: 10px 5px 13px 12px;
    gap: 0px;
  }

  h2 {
    font-size: 18px !important;
    margin: 0 !important;
  }

  .author {
    font-size: 0.9rem !important;
    text-align: left !important;;
    margin: 0 !important;
    margin-top: 8px !important;
  }
}
h2 {
  font-size: clamp(22px, 5cqw, 38px);
  margin-left: 4px;
  margin-right: 4px;
  line-height: 1.2;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.article-card--compact h2 {
  font-size: clamp(18px, 4cqw, 26px);
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.author {
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  text-align: right;
  margin-top: 1rem;
  margin-right: 4px;
}

.article-card--compact .author {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}